*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    width: 100%;
}

/* header */

.header-first{
    background-color: #ff6900;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    top:0
}

.head-content{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 6px 6px 0 0;
    color: white;
}

li a:hover{
    text-decoration: underline;
}

.icons i:hover{
    cursor: pointer;
    color: black;
}

.logo img{
    height: 25px;
}

.icons{
    text-align: end;
    padding: 6px;
    color: white
}

.icons i{
    margin-right: 4px;
}

/* main */

main {
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 30%;
    margin-bottom: 20px;
}

.product{
    position: relative;
}

.figure {
    position: relative;
    max-width: 100%;
}
.figure .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: -1;
}
.figure:hover img.image-hover {
  z-index: 2;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 3;
}

.heart:hover{
    color: red;
}

.sale{
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 40px;
    line-height: 20px;
    text-align: center;
    z-index: 3;
}

.sustainable{
    position: absolute;
    bottom: 50px;
    left: 42px;
    background-color: green;
    color: white;
    font-size: 12px;
    width: 80px;
    line-height: 20px;
    text-align: center;  
    z-index: 3;  
}

.sustainable-special{
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: green;
    color: white;
    font-size: 12px;
    width: 80px;
    line-height: 20px;
    text-align: center;  
    z-index: 3;  
}

.brand{
    font-size: 12px;
}

h2{
    font-size: 16px;
    text-transform: uppercase;
}

.new-price{
    color: red;
    font-size: 12px;
}

.old-price{
    font-size: 12px;
    text-decoration: line-through;
}

.description span{
    display: inline-block;
}



/* footer */

footer{
    background-color: black;
}

footer section{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-content{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-first li{
    display: inline-block;
    list-style: none;
}

.footer-first a{
    text-decoration: none;
    padding-right: 6px;
    color: white;
}

.footer-first h3{
    font-size: 16px;
}

.size-fix{
    font-size: 12px;
}

.socials{
    text-align: center;
}

.socials i:hover{
    cursor: pointer;
    color: #ff6900;
}